<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\Stefan Djordjevic\source\repos\TournamentTracker\Data"/><!-- Path to our text data files -->
    <add key="greaterWins" value="1"/><!-- If it's 1, team with greater score wins else if it's 0 team with lesser score wins -->
    <add key="senderEmail" value="stex@stefi.com"/>
    <add key="senderDisplayName" value="StexyAdmin"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=DESKTOP-E5D7UKP;Database=Tournaments;Trusted_Connection=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="127.0.0.1" userName="Stef" password="testing" port="25" enableSsl="false"/>
      </smtp>
    </mailSettings>
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>